@tailwind base;
@tailwind components;
@tailwind utilities;

/*Home*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f18c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 60px !important;
  width: 147px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  width: auto;
  text-align: center;
  transition: box-shadow 0.3s;
}
.container span{
  color: #570000 !important;  
  font-weight: bolder;
}

.container img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.container span {
  color: #000;
  font-size: 16px;
}

.container:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.BienvenidosRect {
  background-color: #fff;
  border: 3px solid #f18c00; 
  border-radius: 8px; 
  padding: 20px;
  width: 90%; 
  margin: 60px auto; 
}

.BienvenidosRect  h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: center; 
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.cardAb {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  border: 2px solid #f18c00;
  padding: 20px;
  text-align: center;
  width: 200px;
  border-radius: 8px;
}
.card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.card img{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
}

.card p {
  background-color: #f18c00;
  color: white;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  background-color: #f18c00;
  color: white;
  text-align: center;
  padding: 20px 10px; 
  position: relative; 
  margin-top: 40px; 
}
